# Ignorar ficheiros Python compilados
*.pyc
__pycache__/

# Ignorar ambientes virtuais
venv/
env/

# Ignorar ficheiros de log e temporários
*.log
*.tmp
*.swp

# Ignorar ficheiros de configuração do IDE (Exemplos)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar ficheiros de modelos
*.pkl
*.pth

# Ignorar caches e repositórios
.DS_Store
Thumbs.db

# Ignorar credenciais ou dados sensíveis
credentials.json
secrets.yaml

# Ignorar ficheiros gerados por ferramentas
dist/
build/

# Ignorar ficheiros de dados grandes
scripts/Results/
scripts/Interpolation/models/

# Arquivos de backup e cópias temporárias
*_copy.py

# Metadados do Windows
*:Zone.Identifier
