# Ignorar ficheiros Python compilados
*.pyc
__pycache__/

# Ignorar ambientes virtuais
venv/
env/

# Ignorar ficheiros de log e temporários
*.log
*.tmp
*.swp

# Ignorar ficheiros de configuração do IDE (Exemplos)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar ficheiros de modelos
*.pkl
*.pth

# Ignorar caches e repositórios
.DS_Store
Thumbs.db

# Ignorar credenciais ou dados sensíveis
credentials.json
secrets.yaml

# Ignorar ficheiros gerados por ferramentas
dist/
build/

# Ignorar ficheiros de dados grandes
scripts/Results/
scripts/Interpolation/models/

# Arquivos de backup e cópias temporárias
*_copy.py

# Metadados do Windows
*:Zone.Identifier

# Compiled files
*.class

# Simulation report files
the_one/reports/
the_one/data/

# Javadocs
the_one/*.html
the_one/doc/stylesheet.css
the_one/doc/resources/*.gif
the_one/doc/package-list

# Eclipse IDE files
the_one/.classpath
the_one/.project
the_one/target/
the_one/.settings/org.eclipse.*